In [1]:
import pandas
import ast

In [2]:
df = pandas.read_csv('coordinates-list/square-test.csv')

In [4]:
df

,North-West,North-East,South-East,South-West
0,"(-8.429957624116502, 115.03252775649212)","(-8.429957597856815, 115.03706806410705)","(-8.434478468898742, 115.03706806410705)","(-8.434478442624776, 115.0325277037326)"
1,"(-8.429957597856815, 115.03706806410705)","(-8.42995757159713, 115.04160837172168)","(-8.434478442639062, 115.04160837172168)","(-8.434478416365096, 115.03706801134754)"
2,"(-8.42995757159713, 115.04160837172168)","(-8.429957545337443, 115.046148679336)","(-8.434478416379383, 115.046148679336)","(-8.434478390105415, 115.04160831896216)"
3,"(-8.429957545337443, 115.046148679336)","(-8.429957519077757, 115.05068898695002)","(-8.434478390119697, 115.05068898695002)","(-8.434478363845729, 115.0461486265765)"
4,"(-8.429957519077757, 115.05068898695002)","(-8.429957492818069, 115.05522929456373)","(-8.43447836386002, 115.05522929456373)","(-8.434478337586054, 115.0506889341905)"
...,...,...,...,...
95,"(-8.470644820251676, 115.05523119811328)","(-8.470644793863457, 115.05977198161476)","(-8.475165655529821, 115.05977198161476)","(-8.47516562912732, 115.05523114508992)"
96,"(-8.470644793863457, 115.05977198161476)","(-8.470644767475237, 115.06431276511593)","(-8.475165629141609, 115.06431276511593)","(-8.475165602739107, 115.0597719285914)"
97,"(-8.470644767475237, 115.06431276511593)","(-8.470644741087021, 115.06885354861679)","(-8.4751656027534, 115.06885354861679)","(-8.4751655763509, 115.06431271209257)"
98,"(-8.470644741087021, 115.06885354861679)","(-8.470644714698803, 115.07339433211735)","(-8.475165576365187, 115.07339433211735)","(-8.475165549962686, 115.06885349559344)"
99,"(-8.470644714698803, 115.07339433211735)","(-8.470644688310585, 115.07793511561759)","(-8.475165549976973, 115.07793511561759)","(-8.475165523574471, 115.073394279094)"

In [5]:
NW = ast.literal_eval(df['North-West'][0])
print(NW)

(-8.429957624116502, 115.03252775649212)

In [6]:
print(type(df['North-West'][0]))

<class 'str'>

In [7]:
for i in range(len(df)):
    print(f'Coordinate Set {i+1}, NW: {ast.literal_eval(df["North-West"][i])}, SE: {ast.literal_eval(df["South-East"][i])}')

Coordinate Set 1, NW: (-8.386643322640275, 114.98247739492766), SE: (-8.395684979063759, 114.9915570021483)
Coordinate Set 2, NW: (-8.386643218148729, 114.9915570021483), SE: (-8.395684874572265, 115.00063660936652)
Coordinate Set 3, NW: (-8.386643113657184, 115.00063660936652), SE: (-8.395684770080772, 115.00971621658232)
Coordinate Set 4, NW: (-8.386643009165642, 115.00971621658232), SE: (-8.395684665589275, 115.01879582379568)
Coordinate Set 5, NW: (-8.386642904674101, 115.01879582379568), SE: (-8.395684561097784, 115.02787543100663)
Coordinate Set 6, NW: (-8.38664280018256, 115.02787543100663), SE: (-8.395684456606295, 115.03695503821515)
Coordinate Set 7, NW: (-8.386642695691023, 115.03695503821515), SE: (-8.395684352114808, 115.04603464542124)
Coordinate Set 8, NW: (-8.386642591199486, 115.04603464542124), SE: (-8.395684247623318, 115.05511425262492)
Coordinate Set 9, NW: (-8.38664248670795, 115.05511425262492), SE: (-8.395684143131827, 115.06419385982616)
Coordinate Set 10, NW: (-8.386642382216415, 115.06419385982616), SE: (-8.395684038640347, 115.07327346702498)

In [ ]:
# TODO: Simplify string casting to list

In [11]:
new = pandas.read_csv('coordinates-list/test2.csv', converters={'North-West':ast.literal_eval, 'North-East':ast.literal_eval, 'South-East':ast.literal_eval, 'South-West':ast.literal_eval})

In [12]:
new

,North-West,North-East,South-East,South-West
0,"(-8.429957624116502, 115.03252775649212)","(-8.42995751907775, 115.04160837172076)","(-8.438999260122053, 115.04160837172076)","(-8.438999154969062, 115.03252754539668)"
1,"(-8.42995751907775, 115.04160837172076)","(-8.429957414039, 115.05068898694695)","(-8.438999155083351, 115.05068898694695)","(-8.438999049930363, 115.04160816062532)"
2,"(-8.429957414039, 115.05068898694695)","(-8.429957309000253, 115.0597696021707)","(-8.438999050044654, 115.0597696021707)","(-8.438998944891665, 115.05068877585153)"
3,"(-8.429957309000253, 115.0597696021707)","(-8.429957203961507, 115.068850217392)","(-8.438998945005954, 115.068850217392)","(-8.438998839852966, 115.05976939107526)"
4,"(-8.429957203961507, 115.068850217392)","(-8.429957098922761, 115.07793083261085)","(-8.438998839967256, 115.07793083261085)","(-8.438998734814271, 115.06885000629657)"
...,...,...,...,...
195,"(-8.429937141585295, 116.80324767971807)","(-8.429937036546802, 116.81232829446877)","(-8.438978777600527, 116.81232829446877)","(-8.438978672447794, 116.80324746862316)"
196,"(-8.429937036546802, 116.81232829446877)","(-8.429936931508314, 116.82140890921703)","(-8.438978672562085, 116.82140890921703)","(-8.438978567409354, 116.81232808337387)"
197,"(-8.429936931508314, 116.82140890921703)","(-8.429936826469826, 116.83048952396283)","(-8.438978567523643, 116.83048952396283)","(-8.438978462370915, 116.82140869812211)"
198,"(-8.429936826469826, 116.83048952396283)","(-8.429936721431337, 116.83957013870618)","(-8.438978462485206, 116.83957013870618)","(-8.438978357332479, 116.83048931286793)"
199,"(-8.429936721431337, 116.83957013870618)","(-8.429936616392853, 116.84865075344709)","(-8.43897835744677, 116.84865075344709)","(-8.43897825229404, 116.8395699276113)"